[Software\BigFix\EnterpriseClient]
EnterpriseClientFolder = /opt/BESClient

[Software\BigFix\EnterpriseClient\GlobalOptions]
StoragePath = /var/opt/BESClient
LibPath = /opt/BESClient/BESLib

[Software\BigFix\EnterpriseClient\Settings\Client\__RelayServer1]
effective date = [Thu, 23 Mar 2017 15:00:00 +0000]
value = http://a01d00bfrlyw001.inmadds.inmarsat.com:52311/bfmirror/downloads/

[Software\BigFix\EnterpriseClient\Settings\Client\__RelayServer2]
effective date = [Thu, 23 Mar 2017 15:00:00 +0000]
value = http://c01d00bgfixw001.inmadds.inmarsat.com/bfmirror/downloads/

[Software\BigFix\EnterpriseClient\Settings\Client\_BESClient_RelaySelect_TertiaryRelayList]
effective date = [Thu, 23 Mar 2017 15:00:00 +0000]
value = TADDMWGS2.inmarsat.com;TADDMWGS4.inmarsat.com

[Software\BigFix\EnterpriseClient\Settings\Client\__RelaySelect_Automatic]
effective date = [Thu, 23 Mar 2017 15:00:00 +0000]
value = 0

[Software\BigFix\EnterpriseClient\Settings\Client\_BESClient_Comm_CommandPollEnable]
effective date = [Thu, 23 Mar 2017 15:00:00 +0000]
value = 1

[Software\BigFix\EnterpriseClient\Settings\Client\_BESClient_Comm_CommandPollIntervalSeconds]
effective date = [Thu, 23 Mar 2017 15:00:00 +0000]
value = 3600